<header class="header-bg py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="text-xl font-bold"><a style="text-decoration: none;" th:href="@{/}">KhoaHocStore</a></div>
        <nav class="d-flex gap-3">
            <a class="text-dark" th:href="@{/}">Home</a>
            <a class="text-dark" th:href="@{/products}">Products</a>
            <a class="text-dark" th:href="@{/about}">About Us</a>
            <a class="text-dark" th:href="@{/contact}">Contact Us</a>
        </nav>
        <div class="position-relative">
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <div class="d-flex align-items">
                    <span class="text-dart">Xin chào: </span>
                    <strong> <span class="fw-bold mx-2" th:text="${#authentication.name}"></span></strong>
                    <form id="logoutForm" th:action="@{/logout}" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm mb-2">Logout</button>
                    </form>

                </div>
            </th:block>

            <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/login}" class="btn btn-primary-custom text-white">Sign Up Now</a>
            </th:block>

        </div>
    </div>
</header>